  <!--<ul class="nav nav-tabs" role="tablist">
  <li ui-sref-active="active">
        <a ui-sref=".main" role="tab" href="#">Home</a>
  </li>
  <li ui-sref-active="active"> 
        <a ui-sref=".profile" role="tab" href="#">Profile</a>
  </li>
  <li ui-sref-active="active">
        <a ui-sref=".list" role="tab" href="#">List</a>
  </li>
</ul>

With regular routing, this would not work, but with ui-route we can have a ui-view directive in our child-templates aswell as on the index.html -->
<div class="tab-content level-one-paper" ui-view></div>


